# Data Cleaning
Realizando alterações discutidas no notebook anterior.

    ps: Ao criar as novas colunas utilizei ['X_nome'] para se referir às features e ['y_nome'] 
    ao label (para se assimilar à linguagem padrão machine learning --> X_train, y_train, X_test, y_test)

    E também mative bastante o .head() para acompanhar as mudanças.
    
## Agenda 
        1º DataFrame
            Removendo NaN
            1.1 - ['y_price']
            1.2 - ['X_location']
            1.3 - ['Quarto'] ['Tamanho'] ['Garagem']
                1.3.1 ['Quarto']
                1.3.2 ['Tamanho']
                1.3.3 ['Garagem']
            1.4 Salvando Progresso (to_pickle)
        2º DataFrame
            2.1 - ['y_price']
            2.2 - ['X_location']
            2.3 - ['Quarto'] ['Banheiro'] ['Garagem'] ['Tamanho']
                2.3.1 ['Quarto']
                2.3.2 ['Banheiro']
                2.3.3 ['Garagem']
                2.3.4 ['Tamanho']
            2.4 Salvando Progresso (to_pickle)
        3º DataFrame
            O universo conspira a quem favor?

In [1]:
import pandas as pd

## 1º DataFrame

In [60]:
raw_data = pd.read_csv('0 - Apartamentos Dados (Bruto).csv', index_col=0)
raw_data.head()

,prices,locations,other
0,R$ 750.000,"Recife, Boa Viagem",3 quartos | 130m² | 1 vaga
1,R$ 200.000,"Jaboatão dos Guararapes, Candeias",2 quartos | 61m² | 1 vaga
2,R$ 300.000,"Recife, Cordeiro",2 quartos | 50m² | Condomínio: R$ 1 | 1 vaga
3,R$ 128.000,"Paulista, Nossa Senhora do Ó",2 quartos | 63m² | 1 vaga
4,R$ 125.000,"Recife, Areias",2 quartos | 62m² | Condomínio: R$ 140 | 1 vaga

**Removendo NaN.** Quantia pequena, vamos simplesmente eliminar.

In [61]:
raw_data.isna().sum()

prices       82
locations     2
other         2
dtype: int64

In [62]:
raw_data.dropna(inplace=True)

## 1.1 - ['y_price']

> Remover "R$", os pontos "." e converter tipo object para numérico.

In [63]:
raw_data['y_price'] = raw_data.prices.apply(lambda x: int(x.split()[1].replace('.','').replace('R$','')))

In [64]:
raw_data.head()

,prices,locations,other,y_price
0,R$ 750.000,"Recife, Boa Viagem",3 quartos | 130m² | 1 vaga,750000
1,R$ 200.000,"Jaboatão dos Guararapes, Candeias",2 quartos | 61m² | 1 vaga,200000
2,R$ 300.000,"Recife, Cordeiro",2 quartos | 50m² | Condomínio: R$ 1 | 1 vaga,300000
3,R$ 128.000,"Paulista, Nossa Senhora do Ó",2 quartos | 63m² | 1 vaga,128000
4,R$ 125.000,"Recife, Areias",2 quartos | 62m² | Condomínio: R$ 140 | 1 vaga,125000

In [65]:
raw_data.y_price.dtype

dtype('int64')

## 1.2 - ['X_location']

> Separar na vírgula para obter os bairros.

In [66]:
raw_data['X_location'] = raw_data.locations.apply(lambda x: x.split(',')[-1])

In [67]:
raw_data.head()

,prices,locations,other,y_price,X_location
0,R$ 750.000,"Recife, Boa Viagem",3 quartos | 130m² | 1 vaga,750000,Boa Viagem
1,R$ 200.000,"Jaboatão dos Guararapes, Candeias",2 quartos | 61m² | 1 vaga,200000,Candeias
2,R$ 300.000,"Recife, Cordeiro",2 quartos | 50m² | Condomínio: R$ 1 | 1 vaga,300000,Cordeiro
3,R$ 128.000,"Paulista, Nossa Senhora do Ó",2 quartos | 63m² | 1 vaga,128000,Nossa Senhora do Ó
4,R$ 125.000,"Recife, Areias",2 quartos | 62m² | Condomínio: R$ 140 | 1 vaga,125000,Areias

## 1.3 - ['Quarto'] ['Tamanho'] ['Garagem']

> " _O "|" será bem útil para separarmos os elementos. O real problema é o fato de às vezes essa divisão resultar em 3 ou 4 elementos._ "

        3 quartos     | 130m²     | 1 vaga
        2 quartos     | 50m²      | Condomínio: R$ 1     | 1 vaga
        
### 1.3.1 ['Quarto']

ps: problemas e mais problemas kkkk

> _ValueError: invalid literal for int() with base 10: **'0m²'**_

In [68]:
raw_data.other.apply(lambda x: int(x.split('|')[0].split(" ")[0]))

ValueError: invalid literal for int() with base 10: '0m²'

**Há até um certa quantia deles**

In [69]:
raw_data.loc[38] # other (-.-)

prices                 R$ 120.000
locations     Paulista, Jaguarana
other                         0m²
y_price                    120000
X_location              Jaguarana
Name: 38, dtype: object

In [70]:
len(raw_data[raw_data.other == "0m²"])

37

In [71]:
raw_data[raw_data.other == "0m²"].head()

         prices                         locations other  y_price   X_location
38   R$ 120.000               Paulista, Jaguarana   0m²   120000    Jaguarana
141  R$ 130.000                    Recife, Várzea   0m²   130000       Várzea
146  R$ 369.000                Recife, Boa Viagem   0m²   369000   Boa Viagem
148  R$ 280.000  Jaboatão dos Guararapes, Piedade   0m²   280000      Piedade
149  R$ 336.000                Recife, Boa Viagem   0m²   336000   Boa Viagem

In [72]:
raw_data = raw_data[raw_data.other != "0m²"] # Eliminando-os

In [88]:
raw_data['X_Bedroom'] = raw_data.other.apply(lambda x: x.split('|')[0].split(" ")[0])

**Sem quartos (mas esses dados no lugar '18m²', '67m²', '160m²' ...) ... deletar.**

In [90]:
raw_data.X_Bedroom.unique()

array(['3', '2', '1', '4', '5', '0m²', '18m²', '67m²', '160m²', '93m²',
       '47m²', '28m²', '130m²', '134m²', '36m²', '45m²'], dtype=object)

In [96]:
raw_data[raw_data.X_Bedroom == '0m²']

,prices,locations,other,y_price,X_location,X_Bedroom
269,R$ 270.000,"Recife, Caxangá",0m² | Condomínio: R$ 0,270000,Caxangá,0m²
1200,R$ 269.000R$ 305.000,"Recife, Imbiribeira",0m² | Condomínio: R$ 1.000,269000,Imbiribeira,0m²
3875,R$ 125.000,"Paulista, Pau Amarelo",0m² | Condomínio: R$ 1.061,125000,Pau Amarelo,0m²
4682,R$ 270.000,"Recife, Encruzilhada",0m² | Condomínio: R$ 400,270000,Encruzilhada,0m²

In [102]:
# Descobrindo índices das linhas a serem eliminadas

values_to_delete = ['0m²', '18m²', '67m²', '160m²', '93m²','47m²', '28m²', '130m²', '134m²', '36m²', '45m²']
indexes_to_delete = []

for value in raw_data.X_Bedroom:
    if value in values_to_delete:
        for index in raw_data[raw_data.X_Bedroom == value].index:
            indexes_to_delete.append(index)  

indexes_to_delete[:5]

[269, 1200, 3875, 4682, 1027]

In [103]:
raw_data.drop(index=indexes_to_delete, inplace=True)

In [105]:
raw_data.X_Bedroom = raw_data.X_Bedroom.apply(lambda x: int(x))

In [108]:
raw_data.X_Bedroom.unique()

array([3, 2, 1, 4, 5], dtype=int64)

In [109]:
raw_data.head()

,prices,locations,other,y_price,X_location,X_Bedroom
0,R$ 750.000,"Recife, Boa Viagem",3 quartos | 130m² | 1 vaga,750000,Boa Viagem,3
1,R$ 200.000,"Jaboatão dos Guararapes, Candeias",2 quartos | 61m² | 1 vaga,200000,Candeias,2
2,R$ 300.000,"Recife, Cordeiro",2 quartos | 50m² | Condomínio: R$ 1 | 1 vaga,300000,Cordeiro,2
3,R$ 128.000,"Paulista, Nossa Senhora do Ó",2 quartos | 63m² | 1 vaga,128000,Nossa Senhora do Ó,2
4,R$ 125.000,"Recife, Areias",2 quartos | 62m² | Condomínio: R$ 140 | 1 vaga,125000,Areias,2

### 1.3.2 ['Tamanho']

hummm... mais valores para deixarmos de lado.

In [144]:
raw_data['X_size'] = raw_data.other.apply(lambda x: x.split('m²')[0].split("|")[-1])

In [149]:
raw_data.X_size.unique()[-20:]

array([' 240', ' 196', ' 239', ' 6652', ' 253', ' 6668', ' 257',
       ' 4 vagas', ' 5548', ' Condomínio: R$ 140', ' 420', ' 771', ' 191',
       ' 1360', ' 141', ' 166', ' 178', ' 154', ' 306', ' 213'],
      dtype=object)

In [164]:
values_to_delete = []

for item in raw_data.X_size.unique():
    try:
        int(item)
    except:
        print(item)
        values_to_delete.append(item)

 1 vaga
 2 vagas
1 quarto
 3 vagas
2 quartos
 5 ou mais vaga
 Condomínio: R$ 370
3 quartos
 Condomínio: R$ 10
 4 vagas
 Condomínio: R$ 140

In [165]:
indexes_to_delete = []

for value in raw_data.X_size:
    if value in values_to_delete:
        for index in raw_data[raw_data.X_size == value].index:
            indexes_to_delete.append(index)  

indexes_to_delete[:5]

[44, 70, 75, 107, 120]

In [170]:
raw_data.drop(index=indexes_to_delete, inplace=True)

In [174]:
raw_data.X_size = raw_data.X_size.apply(lambda x: int(x))

In [177]:
raw_data.X_size.dtypes

dtype('int64')

### 1.3.3 ['Garagem']

Aplicaremos o mesmo pensamento da parte anterior para remover os valores esquisitos.

In [190]:
raw_data['X_garage'] = raw_data.other.apply(lambda x: x.split('|')[-1].split(" ")[1])

In [192]:
raw_data.X_garage.unique()

array(['1', '2', '3', '36m²', '116m²', 'Condomínio:', '120m²', '4', '5',
       '140m²', '65m²', '29m²', '400m²', '60m²', '58m²', '61m²', '54m²',
       '45m²', '56m²', '40m²', '0m²', '27m²', '57m²', '53m²', '24m²',
       '110m²', '447m²', '41m²', '312m²', '50m²', '18m²', '33m²', '150m²',
       '303m²', '107m²', '136m²', '35m²', '42m²', '152m²', '74m²',
       '212m²', '25m²', '207m²', '46m²', '70m²', '44m²', '37m²', '43m²',
       '48m²', '63m²', '100m²', '64m²', '75m²', '95m²', '90m²', '770m²',
       '185m²', '147m²', '71m²', '59m²', '68m²', '84m²', '72m²', '80m²',
       '112m²', '31m²', '62m²', '30m²', '78m²', '73m²', '55m²', '268m²'],
      dtype=object)

In [223]:
values_to_delete = ['36m²', '116m²', 'Condomínio:', '120m²', '140m²', '65m²', '29m²', '400m²',
                    '60m²', '58m²', '61m²', '54m²','45m²', '56m²', '40m²', '0m²', '27m²', '57m²',
                    '53m²', '24m²','110m²', '447m²', '41m²', '312m²', '50m²', '18m²', '33m²',
                    '150m²','303m²', '107m²', '136m²', '35m²', '42m²', '152m²', '74m²', '212m²',
                    '25m²', '207m²', '46m²', '70m²', '44m²', '37m²', '43m²','48m²', '63m²', 
                    '100m²', '64m²', '75m²', '95m²', '90m²', '770m²','185m²', '147m²', '71m²',
                    '59m²', '68m²', '84m²', '72m²', '80m²', '112m²', '31m²', '62m²', '30m²', 
                    '78m²', '73m²', '55m²', '268m²']

indexes_to_delete = []

for value in raw_data.X_garage:
    if value in values_to_delete:
        for index in raw_data[raw_data.X_garage == value].index:
            indexes_to_delete.append(index)  

indexes_to_delete[:5]

[36, 843, 1142, 2419, 2461]

In [225]:
raw_data.drop(index=indexes_to_delete, inplace=True)

In [227]:
raw_data.X_garage = raw_data.X_garage.apply(lambda x: int(x))

In [229]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4455 entries, 0 to 4918
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prices      4455 non-null   object
 1   locations   4455 non-null   object
 2   other       4455 non-null   object
 3   y_price     4455 non-null   int64
 4   X_location  4455 non-null   object
 5   X_Bedroom   4455 non-null   int64
 6   X_size      4455 non-null   int64
 7   X_garage    4455 non-null   int64
dtypes: int64(4), object(4)
memory usage: 313.2+ KB

In [230]:
raw_data.head()

,prices,locations,other,y_price,X_location,X_Bedroom,X_size,X_garage
0,R$ 750.000,"Recife, Boa Viagem",3 quartos | 130m² | 1 vaga,750000,Boa Viagem,3,130,1
1,R$ 200.000,"Jaboatão dos Guararapes, Candeias",2 quartos | 61m² | 1 vaga,200000,Candeias,2,61,1
2,R$ 300.000,"Recife, Cordeiro",2 quartos | 50m² | Condomínio: R$ 1 | 1 vaga,300000,Cordeiro,2,50,1
3,R$ 128.000,"Paulista, Nossa Senhora do Ó",2 quartos | 63m² | 1 vaga,128000,Nossa Senhora do Ó,2,63,1
4,R$ 125.000,"Recife, Areias",2 quartos | 62m² | Condomínio: R$ 140 | 1 vaga,125000,Areias,2,62,1

## 1.4 Salvando Progresso (to_pickle)

Manterei a coluna ['locations'] caso precise usá-la quando testar se os bairros estão corretos ou se precisam de correção.

In [231]:
raw_data.columns

Index(['prices', 'locations', 'other', 'y_price', 'X_location', 'X_Bedroom',
       'X_size', 'X_garage'],
      dtype='object')

In [232]:
df = raw_data[['locations', 'y_price', 'X_location', 'X_Bedroom', 'X_size', 'X_garage']]
df.head()

,locations,y_price,X_location,X_Bedroom,X_size,X_garage
0,"Recife, Boa Viagem",750000,Boa Viagem,3,130,1
1,"Jaboatão dos Guararapes, Candeias",200000,Candeias,2,61,1
2,"Recife, Cordeiro",300000,Cordeiro,2,50,1
3,"Paulista, Nossa Senhora do Ó",128000,Nossa Senhora do Ó,2,63,1
4,"Recife, Areias",125000,Areias,2,62,1

In [237]:
df.to_pickle("1 Apartamentos Dados Limpos.pkl")

Para os outros DataFrames fundamentalmente o processo será o mesmo, com pequenas diferenças já que os dados estão estruturados de maneira diferente.

## 2º DataFrame

Não há NaN \o\\|o|/o/

In [2]:
raw_data2 = pd.read_csv('0.1 - Apartamentos Dados (Bruto).csv', index_col=0)
raw_data2.head()

                 prices      locations                          other
0             R$ 80.000   Campo Grande    2quartos2banheiros1vaga67m²
1            R$ 130.000      Boa Vista       1quarto1banheiro 58,40m²
2            R$ 130.000  Linha do Tiro    2quartos1banheiro 1vaga65m²
3  R$ 132.000R$ 630/ano         Várzea    2quartos1banheiro 1vaga50m²
4            R$ 140.000        Tejipió  2quartos1banheiro 80vagas41m²

In [3]:
raw_data2.isna().sum()

prices       0
locations    0
other        0
dtype: int64

## 2.1 - ['y_price']

In [4]:
raw_data2['y_price'] = raw_data2.prices.apply(lambda x: x.split("R$")[1].replace('.',''))

Note que em uns temos o preço " _R\$ 190.000Preço de locaçãoSob consulta_ " (vamos trabalhar para pegá-lo) em outros o " _Preço de vendaSob consultaR\$ 1.450/mês_ " ele ainda está sendo decidido (provavelmente estão sendo construídos e o que pegamos são os dados de como serão), deletar e deletar.

In [5]:
raw_data2.y_price.unique()[:20]

array([' 80000', ' 130000', ' 132000', ' 140000', ' 145000', ' 150000',
       ' 160000', ' 168000', ' 170000', ' 1450/mês', ' 174000', ' 180000',
       ' 182000', ' 186000', ' 190000',
       ' 190000Preço de locaçãoSob consulta', ' 195000', ' 198990',
       ' 199000', ' 199990'], dtype=object)

In [6]:
raw_data2[raw_data2.y_price == ' 190000Preço de locaçãoSob consulta']

,prices,locations,other,y_price
32,R$ 190.000Preço de locaçãoSob consulta,Iputinga,3quartos2banheiros1vaga77m²,190000Preço de locaçãoSob consulta

In [7]:
raw_data2[raw_data2.y_price == ' 1450/mês']

,prices,locations,other,y_price
18,Preço de vendaSob consultaR$ 1.450/mês,Várzea,2quartos1suíte2banheiros1vaga70m²,1450/mês

In [8]:
values_to_get = []

for item in raw_data2.y_price.unique():
    try:
        int(item)
    except:
        print(item)
        values_to_get.append(item)

 1450/mês
 190000Preço de locaçãoSob consulta
 255000Preço de locaçãoSob consulta
 1750/mês
 270000Preço de locaçãoSob consulta
 290000Preço de locaçãoSob consulta
 1000/mês
 1250/mês
 350000Preço de locaçãoSob consulta
 2000/mês
 360000Preço de locaçãoSob consulta
 2200/mês
 500000Preço de locaçãoSob consulta
 1700/mês
 700000Preço de locaçãoSob consulta
 900000Preço de locaçãoSob consulta
 980000Preço de locaçãoSob consulta
 1350000Preço de locaçãoSob consulta

Na verdade, mudei de ideia kkkk. São tão poucos dados que deletarei todos.

In [9]:
indexes_to_delete = []

for value in raw_data2.y_price:
    if value in values_to_get:
        for index in raw_data2[raw_data2.y_price == value].index:
            indexes_to_delete.append(index)  

indexes_to_delete[:5]

[18, 32, 140, 194, 195]

In [10]:
len(indexes_to_delete)

24

In [11]:
raw_data2.drop(index=indexes_to_delete, inplace=True)

In [12]:
raw_data2['y_price'] = raw_data2.y_price.apply(lambda x: int(x))

In [13]:
raw_data2.head()

                 prices      locations                          other  y_price
0             R$ 80.000   Campo Grande    2quartos2banheiros1vaga67m²    80000
1            R$ 130.000      Boa Vista       1quarto1banheiro 58,40m²   130000
2            R$ 130.000  Linha do Tiro    2quartos1banheiro 1vaga65m²   130000
3  R$ 132.000R$ 630/ano         Várzea    2quartos1banheiro 1vaga50m²   132000
4            R$ 140.000        Tejipió  2quartos1banheiro 80vagas41m²   140000

## 2.2 - ['X_location']

Unbelievable! Já está pronto kkkkk tinha até esquecido que vi isso durante a exploração.

In [14]:
raw_data2['X_location'] = raw_data2.locations
raw_data2.drop(columns='locations', inplace=True)

## 2.3 - ['Quarto'] ['Banheiro']  ['Tamanho'] ['Garagem'] 

Informações coladas na string ksksks foi divertido resolver essa parte.

### 2.3.1 ['Quarto']

In [15]:
raw_data2.head()

                 prices                          other  y_price     X_location
0             R$ 80.000    2quartos2banheiros1vaga67m²    80000   Campo Grande
1            R$ 130.000       1quarto1banheiro 58,40m²   130000      Boa Vista
2            R$ 130.000    2quartos1banheiro 1vaga65m²   130000  Linha do Tiro
3  R$ 132.000R$ 630/ano    2quartos1banheiro 1vaga50m²   132000         Várzea
4            R$ 140.000  2quartos1banheiro 80vagas41m²   140000        Tejipió

In [16]:
raw_data2['X_bedroom'] = raw_data2.other.apply(lambda x: int(x.split('q')[0]))

In [17]:
raw_data2['X_bedroom'].unique()

array([2, 1, 3, 4, 5], dtype=int64)

### 2.3.2 ['Banheiro']

In [18]:
raw_data2['X_bathroom'] = raw_data2.other.apply(lambda x: x.split('banheiro')[0][-1])

In [19]:
raw_data2['X_bathroom'].unique()

array(['2', '1', '3', '²', '4', '5', '6'], dtype=object)

In [20]:
raw_data2[raw_data2['X_bathroom'] == '²'] # Ahhh, não tem banheiro kkkkk

,prices,other,y_price,X_location,X_bedroom,X_bathroom
161,R$ 260.000,2quartos1suíte1vaga43m²,260000,Torre,2,²
297,R$ 302.500,"2quartos1suíte1vaga50,22m²",302500,Torre,2,²
482,R$ 367.000,"3quartos1suíte1vaga58,80m²",367000,Ilha do Retiro,3,²
797,R$ 550.000,1quarto1vaga40m²,550000,Boa Viagem,1,²
801,R$ 550.000,1quarto1vaga40m²,550000,Boa Viagem,1,²

In [21]:
raw_data2 = raw_data2[raw_data2['X_bathroom'] != '²']

In [22]:
raw_data2['X_bathroom'] = raw_data2['X_bathroom'].apply(lambda x: int(x))

### 2.3.3 ['Garagem']

In [23]:
raw_data2['X_garage'] = raw_data2.other.apply(lambda x: x.split('vaga')[0][-1])

In [24]:
raw_data2['X_garage'].unique()

array(['1', '²', '0', '2', '3', '4'], dtype=object)

In [25]:
raw_data2[raw_data2['X_garage'] == '²'].head()

,prices,other,y_price,X_location,X_bedroom,X_bathroom,X_garage
1,R$ 130.000,"1quarto1banheiro 58,40m²",130000,Boa Vista,1,1,²
11,R$ 160.000,2quartos1suíte2banheiros100m²,160000,Boa Vista,2,2,²
27,R$ 190.000,3quartos2banheiros95m²,190000,Aflitos,3,2,²
45,R$ 200.000,2quartos1suíte1banheiro 100m²,200000,Boa Vista,2,1,²
47,R$ 200.000,"1quarto1banheiro 27,49m²",200000,Boa Viagem,1,1,²

In [26]:
len(raw_data2[raw_data2['X_garage'] == '²'])

47

In [27]:
raw_data2 = raw_data2[raw_data2['X_garage'] != '²']

In [28]:
raw_data2['X_garage'] = raw_data2['X_garage'].apply(lambda x: int(x))

### 2.3.4 ['Tamanho']

In [29]:
raw_data2.head()

,prices,other,y_price,X_location,X_bedroom,X_bathroom,X_garage
0,R$ 80.000,2quartos2banheiros1vaga67m²,80000,Campo Grande,2,2,1
2,R$ 130.000,2quartos1banheiro 1vaga65m²,130000,Linha do Tiro,2,1,1
3,R$ 132.000R$ 630/ano,2quartos1banheiro 1vaga50m²,132000,Várzea,2,1,1
4,R$ 140.000,2quartos1banheiro 80vagas41m²,140000,Tejipió,2,1,0
5,R$ 145.000R$ 720/ano,2quartos1banheiro 1vaga50m²,145000,Várzea,2,1,1

In [30]:
raw_data2['X_size'] = raw_data2.other.apply(lambda x: int(float(x.split('vaga')[1].replace('m²','').replace('s','').replace(',','.'))))

In [31]:
raw_data2['X_size'].unique()

array([ 67,  65,  50,  41,  80,  74,  68,  70,  25,  64,  55,  75,  52,
        73,  34, 100,  45,  28,  33,  78,  56,  30,  61,  38,  39,  23,
        85,  60,  94,  18,  35,  82,  42,  47,  53,  93,  97,  29,  24,
        63,  71,  69, 120,  72,  40,  44,  48,  76,  59,  31,  62,  77,
        90,  32, 105,  36,  46,  81, 109, 130,  43,  58, 112,  49,  57,
        92,  84,  54,  95, 110,  51, 107,  79, 106, 126, 127, 145,  88,
        66, 117,  86,  87, 138,  89, 149,  96, 131, 144, 129, 133,  91,
       132, 198, 114, 150, 125,  98, 160, 158, 115, 122, 147, 104, 118,
       177, 151, 139, 103, 155, 116,  83, 180, 123, 143, 111, 142, 165,
       152, 140, 135, 170, 156, 119, 136, 268,  99, 345, 163, 128, 176,
       102, 178, 173, 175, 134, 121, 108, 113, 278, 230, 159, 168, 101,
       148, 220, 237, 216, 124, 238, 190, 380, 250, 205, 146, 154, 227,
       364, 212, 248, 210, 193, 137, 191, 223, 308, 218, 208, 164, 200,
       153, 167, 217, 225, 141, 204, 196, 185, 240, 275, 307, 350, 247,
       297, 166, 266, 174, 188, 201, 171, 197, 172, 236], dtype=int64)

In [32]:
raw_data2.head()

,prices,other,y_price,X_location,X_bedroom,X_bathroom,X_garage,X_size
0,R$ 80.000,2quartos2banheiros1vaga67m²,80000,Campo Grande,2,2,1,67
2,R$ 130.000,2quartos1banheiro 1vaga65m²,130000,Linha do Tiro,2,1,1,65
3,R$ 132.000R$ 630/ano,2quartos1banheiro 1vaga50m²,132000,Várzea,2,1,1,50
4,R$ 140.000,2quartos1banheiro 80vagas41m²,140000,Tejipió,2,1,0,41
5,R$ 145.000R$ 720/ano,2quartos1banheiro 1vaga50m²,145000,Várzea,2,1,1,50

## 2.4 Salvando Progresso (to_pickle)

In [33]:
df = raw_data2[['y_price', 'X_location', 'X_bedroom', 'X_bathroom', 'X_size', 'X_garage']]
df.head()

   y_price     X_location  X_bedroom  X_bathroom  X_size  X_garage
0    80000   Campo Grande          2           2      67         1
2   130000  Linha do Tiro          2           1      65         1
3   132000         Várzea          2           1      50         1
4   140000        Tejipió          2           1      41         0
5   145000         Várzea          2           1      50         1

In [331]:
df.to_pickle('2 Apartamentos Dados Limpos.pkl')

## 3º DataFrame

Livre de NaN, mas esse é o conjunto com duplicatas. E obter os bairros parece que será um desafio aqui.

In [2]:
raw_data3 = pd.read_csv('0.2 - Apartamentos Dados (Bruto).csv', index_col=0)
raw_data3.head()

,prices,locations,other
0,R$ 1.700.000,"Avenida Dezessete de Agosto, 2720 - Casa Fort...",207 Área m² 4 Quartos 4 Suíte...
1,Sob Consulta,"Rua Eurico de Souza Leão, 541 - Cordeiro, Rec...",55-73 Área m² 1-3 Quartos 1 B...
2,R$ 780.000,"Rua Wilfrid Rússel Shorto, 61 - Boa Viagem, R...",250 Área m² 4 Quartos 2 Suíte...
3,R$ 450.000,"Estrada do Encanamento, 1342 - Casa Forte, Re...",82 Área m² 3 Quartos 1 Suíte ...
4,R$ 350.000,"Rua Doutor Luiz Inácio Pessoa de Melo, 81 - B...",70 Área m² 2 Quartos 1 Suíte ...

In [4]:
raw_data3.isna().sum()

prices       0
locations    0
other        0
dtype: int64

A grande esmagadora e imensa maioria dos dados são  duplicatas? ('-' )

> As localizações são bem específicas então não poderia haver 299 apartamentos em "Avenida Boa Viagem, 1616 - Boa Viagem, Recife - PE"

In [26]:
raw_data3.duplicated().sum()

10728

In [28]:
raw_data3.duplicated().sum() / raw_data3.shape[0] # (º-º)

0.9966555183946488

In [18]:
raw_data3.groupby('locations').count()

                                                    prices  other
locations
 Avenida Boa Viagem, 1616 - Boa Viagem, Recife ...     299    299
 Avenida Boa Viagem, 1662 - Boa Viagem, Recife ...     299    299
 Avenida Dezessete de Agosto, 2720 - Casa Forte...     299    299
 Avenida Engenheiro Domingos Ferreira, 2842 - B...     299    299
 Avenida República do Líbano, 560 - Pina, Recif...     299    299
 Avenida Santos Dumont - Aflitos, Recife - PE          299    299
 Avenida Santos Dumont, 1500 - Ponto de Parada,...     299    299
 Avenida Visconde de Albuquerque, 186 - Madalen...     299    299
 Encruzilhada, Recife - PE                             299    299
 Estrada do Arraial, 3574 - Casa Amarela, Recif...     299    299
 Estrada do Encanamento, 1342 - Casa Forte, Rec...     299    299
 Rua Arnaldo Bastos - Madalena, Recife - PE            299    299
 Rua Benjamin Constant, 122 - Torre, Recife - PE       299    299
 Rua Bruno Veloso, 422 - Boa Viagem, Recife - PE       299    299
 Rua Caio Pereira, 225 - Rosarinho, Recife - PE        299    299
 Rua Dois de Julho, 251 - Santo Amaro, Recife -...     299    299
 Rua Doutor João Santos Filho, 250 - Parnamirim...     299    299
 Rua Doutor Luiz Inácio Pessoa de Melo, 81 - Bo...     299    299
 Rua Ernani Braga, 109 - Madalena, Recife - PE         299    299
 Rua Eurico de Souza Leão, 541 - Cordeiro, Reci...     299    299
 Rua Félix de Brito Melo, 202 - Boa Viagem, Rec...     299    299
 Rua Gervásio Fioravante - Graças, Recife - PE         299    299
 Rua Guilherme Salazar, 150 - Poço, Recife - PE        299    299
 Rua Japecanga, Apto. 203 - Prado, Recife - PE         299    299
 Rua Jonathas de Vasconcelos, 427 - Boa Viagem,...     299    299
 Rua Jorge Couceiro da Costa Eiras, 443 - Boa V...     299    299
 Rua Le Parc, 100 - Imbiribeira, Recife - PE           299    299
 Rua Manuel de Barros Lima, 173 - Campo Grande,...     299    299
 Rua Padre Roma, 669 - Parnamirim, Recife - PE         299    299
 Rua Professor Augusto Lins e Silva, 356 - Boa ...     299    299
 Rua Real da Torre, 1275 - Madalena, Recife - PE       299    299
 Rua Tenente Antônio João, 61 - Graças, Recife ...     299    299
 Rua Wilfrid Rússel Shorto, 61 - Boa Viagem, Re...     299    299
 Rua da Angustura, 195 - Aflitos, Recife - PE          299    299
 Rua do Futuro, 305 - Graças, Recife - PE              299    299
 Travessa Maria Carolina, 816 - Boa Viagem, Rec...     299    299

**Tanto trabalho para salvar 36 dados? hummm... não, vamos partir direto para análise dos dados que já temos.**

In [30]:
len(raw_data3.drop_duplicates())

36